<dl class="accordion">
  <dt class="accordion__ttl">accordion</dt>
  <dd class="accordion__cont">
    <div class="accordion__cont__inner">
      生地：天竺<br>
      生地の厚さ：190g/m2(5.6オンス)<br>
      糸の種類・太さ：カード糸・17番単糸<br>
      杢グレー：綿80% ポリエステル20%<br>
      アッシュ：綿95% ポリエステル5%<br>
      その他：綿100%
    </div><!-- // .accordion__cont__inner -->
  </dd>

  <dt class="accordion__ttl">accordion</dt>
  <dd class="accordion__cont">
    <div class="accordion__cont__inner">
      生地：天竺<br>
      生地の厚さ：190g/m2(5.6オンス)<br>
      糸の種類・太さ：カード糸・17番単糸<br>
      杢グレー：綿80% ポリエステル20%<br>
      アッシュ：綿95% ポリエステル5%<br>
      その他：綿100%
    </div><!-- // .accordion__cont__inner -->
  </dd>

  <dt class="accordion__ttl">accordion</dt>
  <dd class="accordion__cont">
    <div class="accordion__cont__inner">
      生地：天竺<br>
      生地の厚さ：190g/m2(5.6オンス)<br>
      糸の種類・太さ：カード糸・17番単糸<br>
      杢グレー：綿80% ポリエステル20%<br>
      アッシュ：綿95% ポリエステル5%<br>
      その他：綿100%
    </div><!-- // .accordion__cont__inner -->
  </dd>
</dl>


<dl class="accordion accordion-large">
  <dt class="accordion__ttl"><span>accordion-large</span></dt>
  <dd class="accordion__cont">
    <div class="accordion__cont__inner">
      生地：天竺<br>
      生地の厚さ：190g/m2(5.6オンス)<br>
      糸の種類・太さ：カード糸・17番単糸<br>
      杢グレー：綿80% ポリエステル20%<br>
      アッシュ：綿95% ポリエステル5%<br>
      その他：綿100%
    </div><!-- // .accordion__cont__inner -->
  </dd>

  <dt class="accordion__ttl"><span>accordion-large</span></dt>
  <dd class="accordion__cont">
    <div class="accordion__cont__inner">
      生地：天竺<br>
      生地の厚さ：190g/m2(5.6オンス)<br>
      糸の種類・太さ：カード糸・17番単糸<br>
      杢グレー：綿80% ポリエステル20%<br>
      アッシュ：綿95% ポリエステル5%<br>
      その他：綿100%
    </div><!-- // .accordion__cont__inner -->
  </dd>
</dl>
