@charset "UTF-8";



/* モーダル
=========================================================== */
.modal {
  $this: &;

  /* オーバーレイ
  −−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− */
  &:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(#333, .7);
    z-index: 10000;
    transition: opacity .5s ease 0s;
    opacity: 0;
    pointer-events: none;
  }
  &.-show:before {
    opacity: 1;
    pointer-events: auto;
  }


  /* コンテンツラップ
  −−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− */
  &__item {
    position: fixed;
    z-index: 10001;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    -ms-scroll-chaining: none;
    pointer-events: none;
    opacity: 0;
    transition: opacity .5s ease 0s;
    &.-show {
      pointer-events: auto;
      opacity: 1;
    }
    &::-webkit-scrollbar {
      width: 3px;
    }
    &::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, .1);
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, .3);
    }

    @at-root {
      /* アイテムラップ
      −−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− */
      #{$this}__wrap {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        min-height: 100%;
        box-sizing: border-box;
        @include mq-pc {
          padding: 20px 0;
          width: 1040px;
        }
        @include mq-sp {
          @include vw(padding-left, 30);
          @include vw(padding-right, 30);
          @include vw(padding-top, 45);
          @include vw(padding-bottom, 45);
        }

        @at-root {

          /* PREV / NEXT ボタン
          −−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− */
          #{$this}__utility {
            @include mq-sp {
              display: flex;
            }
          }
          #{$this}__prev,
          #{$this}__next {
            transition: transform .5s ease 0s;
            color: #FFF;
            cursor: pointer;
            @include mq-pc {
              position: absolute;
              top: 50%;
              margin-top: -50px;
              width: 60px;
              height: 100px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            @include mq-sp {
              width: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              box-sizing: border-box;
              @include vw(padding, 15);
              background: #000;
            }
            &:before {
              content: "";
              display: block;
              color: inherit;
              border-color: currentColor;
              border-style: solid;
              border-width: 1px 1px 0 0;
              cursor: pointer;
              @include mq-pc {
                width: 40px;
                height: 40px;
              }
              @include mq-sp {
                width: 7px;
                height: 7px;
              }
            }
            &:after {
              @include mq-sp {
                @include vw(font-size, 24);
              }
            }
            @at-root {
              #{$this}__item:first-of-type #{$this}__prev,
              #{$this}__item:last-of-type #{$this}__next {
                color: #999;
                pointer-events: none;
                @include mq-sp {
                  background: #CCC;
                  color: #FFF;
                  cursor: none;
                }
              }
            }
          }
          // PREV
          #{$this}__prev {
            @include mq-pc {
              left: -80px;
              &:hover {
                transform: translateX(-10px);
              }
            }
            &:before {
              transform: rotate(-135deg) translateX(-25%) translateY(25%);
            }
            &:after {
              @include mq-sp {
                content: "PREV";
                margin-left: 5px;
              }
            }
            @at-root #{$this}__item:not(:first-of-type) & + * {
              @include mq-sp {
                border-left: 1px solid rgba(#CCC, .5);
              }
            }
          }
          // NEXT
          #{$this}__next {
            @include mq-pc {
              right: -80px;
              &:hover {
                transform: translateX(10px);
              }
            }
            @include mq-sp {
              flex-direction: row-reverse;
            }
            &:before {
              transform: rotate(45deg) translateX(-25%) translateY(25%);
            }
            &:after {
              @include mq-sp {
                content: "NEXT";
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
}
