<a href="sample" class="btn"><span>テキストが入ります</span></a>

<a href="sample" class="btn btn_bdr--red"><span>テキストが入ります</span></a>

<a href="sample" class="btn btn_color--red"><span>テキストが入ります</span></a>

<a href="sample" class="btn btn_size--min btn_color--gray"><span>テキストが入ります</span></a>
