<div class="box-wrap box-wrap-fl2">
  <div class="box">
	  <p>ボックス</p>
	</div>

  <div class="box">
	  <p>ボックス</p>
	</div>
</div>


<div class="box-wrap box-wrap-fl3 sp-box-col2">
  <div class="box">
	  <p>ボックス</p>
	</div>

  <div class="box">
	  <p>ボックス</p>
	</div>

  <div class="box">
	  <p>ボックス</p>
	</div>
</div>


<div class="box-wrap box-wrap-fl4">
  <div class="box">
    <p>ボックス</p>
  </div>

  <div class="box">
    <p>ボックス</p>
  </div>

  <div class="box">
    <p>ボックス</p>
  </div>

  <div class="box">
    <p>ボックス</p>
  </div>
</div>
