<table class="tbl-cmn">
  <tr>
    <th>タイトル</th>
    <td>テキストテキストテキストテキスト（tbl-cmn）</td>
  </tr>
  <tr>
    <th>タイトル</th>
    <td>テキストテキストテキストテキスト（tbl-cmn）</td>
  </tr>
  <tr>
    <th>タイトル</th>
    <td>テキストテキストテキストテキスト（tbl-cmn）</td>
  </tr>
  <tr>
    <th>タイトル</th>
    <td>テキストテキストテキストテキスト（tbl-cmn）</td>
  </tr>
</table>
